body {
    margin: 0;
    padding: 0;
}

.touchbar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
    border: 1px dashed black;
}
.wheel {
    position: fixed;
    width: 50px;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border: 1px dashed black;
}